asyncio
bidict
blinker
certifi
charset-normalizer
click
Flask
flask-cors
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
neo-api-client @ git+https://github.com/Kotak-Neo/Kotak-neo-api-v2.git@1533903cb5db1a50892223b404d753dbc8fba50e
numpy
pandas
playwright
pyee
pyjsparser
PyJWT
pyotp
python-dateutil
python-dotenv
pytz
requests
six
typing_extensions
tzdata
urllib3
websocket-client
websockets
Werkzeug
